/* RESPONSIVE ELEMENTS: Pois será o nosso header, o nosso main e o nosso footer */

@media (max-width: 1024px) {
    .container {
        width: 850px;
    }

    body {
        background-position: -140px;
    }
}

@media (max-width: 935px) { /* A PARTIR DESSE TAMANHO, PODEREMOS PARTIR PARA UM MODO RESPONSIVO TRABALHAMDO EM COLUNAS */
                            /* ISTO PORQUE OS ELEMENTOS DA PÁGINA, TAIS COMO OS ITENS DA "<ur>" E O NOSSO LOGO, POR EXEMPLO, PASSARÃO A FICAR MUITO ESPREMIDOS */
     body {
        background-position: left top; /* arrastou nossa imagem (bolha) um pouco mais para frente, mantendo-a à esquerda */
        background-color: #b1f4ff; /* pode ser coletada a partir de: "Inspecionar elemento > element style: "background-color" */
                                     /* após de escolhida uma cor aleatória, basta clicar no "Seletores de Cores de Alternância" e coletar a cor desejada na página da WEB */
     }
                            
    .container {
        width: 550px;
    }

    .row {
        flex-direction: column; /* COM ISTO, TUDO O QUE ESTIVER EM "<class=row>" FICARÁ EM COLUNAS QUANDO A RESOLUÇÃO DA TELA FOR DE 935px PARA BAIXO */
    }

    header nav {
        margin: 30px 0; /* 20px REPRESENTAM APENAS ESPAÇAMENTO NA ALTURA */
    }

    .sobre-web-design article { /* o que se encontra dentro de "<section class="row sobre-web-design">;<article>", irá aumentar em 100% ao tamanho da página */
        width: 100%
    }

    footer .row {
        flex-direction: row; /* vai fazer com que os ícones deixem de ficar em coluna e fiquem um ao lado do outro */
        justify-content: center; /* vai fazer com que eles saiam do canto inferior esquerdo para o centro da tela */
        
    }

    .sobre-web-design figcaption img {
        margin: 30px 0 0 0;
        width: 100%; /* DIFEFENÇA MÍNIMA NO NOSSO CASO */
    }
}

@media (max-width: 665px) {
    .container {
        width: 400px;
    }
}

@media (max-width: 450px) { /* a partir de 450px, será necessário fazer com que nosso menu "<ul>" fique em colunas para se adequar ao restante do layout */
    .container {
        width: 290px;
    }

    header nav {
        background: #FFF;
        width: 100%;
        padding: 10px /*topo*/ 0/*lado*/ 20px; /*baixo*/
        box-shadow: 0px /*horizontal*/ 10px /*vertical*/ 30px rgba(0, 0, 0, 0.15);
    }

    header nav ul { /* disponível anteriormente em "header.css" (configurações padrões da nossa header( */
        flex-direction: column;
    } 

    header nav ul li {
        margin: 10px 0;
    }
}


/* 320px É O MENOR TAMANHO QUE SE TRABALHA NA RESPONSABILIDADE, SENDO RELATIVO A UM DOS MENORES CELULARES EXISTENTES */

 /*--------- SE HOUVER A NECESSIDADE DE MELHORAR O LAYOUT -----------

 .sobre-web-design figcaption img {  (código importado do "main.css" e irá substituir as configurações lá estabelecidas).
    width: XXpx;
}

--------------------------------------------------------------------- */


/* Importante ressaltar que o designer será o responsável por nos estabelecer as medidas necessárias */
/* Com os "frameworks" haverá a facilitação de configurar o responsive */

